._66in{padding:12px}._66io{border-top:1px solid #e1e2e3}._66in .UFILikeSentence.UFILikeSentence{border:none;float:right;margin:0;padding:0}._66ip{color:#1d2129;font-size:16px;font-weight:bold}._66ir{color:#90949c;text-align:center}._66iq>._4oep._48pi{border:none}

#bootloader_VfVop{height:42px;}.bootloader_VfVop{display:block!important;}