#search {
    position: absolute;
    width: 750px;
    height: 60px;
    left: 346px;
    top: 418px;

    border: 4px solid #0F4880;
    box-sizing: border-box;
    border-radius: 40px;
    font-size: 30px;
}

#submitSearch {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1116px;
    top: 418px;

    background: #0F4880;
    border: 4px solid #0F4880;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: white;
}


#submitSearch:hover {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1116px;
    top: 418px;

    background: #1478cb;
    border: 4px solid #1478cb;
    box-sizing: border-box;
    border-radius: 40px;
    color: white;
}

#guidedSearch {
    position: absolute;
    width: 348px;
    height: 69px;
    left: 546px;
    top: 660px;

    background: #0F4880;
    border: 4px solid #0F4880;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: white;
}

#guidedSearch:hover {
    position: absolute;
    width: 348px;
    height: 69px;
    left: 546px;
    top: 660px;

    background: #1478cb;
    border: 4px solid #1478cb;
    box-sizing: border-box;
    border-radius: 40px;
    color: white;
}

#update {

    position: absolute;
    width: 220px;
    height: 29px;
    left: 51px;
    top: 68px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #000000;
}

#glossary:hover {
    color: #1478cb;
}

#update:hover {
    color: #1478cb;
}

#glossary {
    position: absolute;
    width: 220px;
    height: 29px;
    left: 286px;
    top: 68px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;

    color: #000000;
    background-color: transparent;
    border: none;
}
