#navBar {
    background: #0f4880;
    opacity: 70%;
    height: 80px;
    width: 100%;
    margin: 0;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0;
    box-shadow: 0px 3px 8px #999999;
}

#glossary {
    position: absolute;
    width: 15%;
    height: 80px;
    left: 15%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}

#home {
    position: absolute;
    width: 15%;
    height: 80px;
    left: 0%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
}

#logo {
    position: absolute;
    left: 80%;
    top: 35%;
    width: 15%;
    height: 80px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 20px;
    text-align: center;
    color: white;
}

#home:hover {
    color: #38c7f5;
}

#glossary:hover {
    color: #38c7f5;
}

table {
    font-family: Roboto;
    width: 80%;
    position: absolute;
    top: 30vh;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: 10%;
    margin-bottom: 10%;
    z-index: -1;
    border-collapse: collapse;
}

/*
tbody {
    width: 45%;
}*/

td, th {
    border: 1px solid black;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

tr:nth-child(even) {
    background-color: lightblue;
}

#compareTitle {
    color: black;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15%;
    font-family: Roboto;
    font-size: calc(18px + (24 - 18) * ((55vw - 300px) / (1600 - 300)));
    font-weight: 900;
    z-index: -1;
}



#a0, #a1, #a2, #a3, #firstImg {
    border: 1px white solid;
    border-bottom: 1px black solid;
    background-color: white;
    align-content: center;
}

#firstImg {
    background-color: white;
}

#b0, #b1, #b2, #b3 {
    border: 1px white solid;
    border-bottom: 1px white solid;
    font-size: 1.5vw;
}

#name {
    border: 1px white solid;
    visibility: hidden;
}
