body {
    background: #0F4880;
}

.navBar {
    background: #ffffff;
    opacity: 70%;
    height: 80px;
    width: 100%;
    margin: 0;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0;
    box-shadow: 0px 3px 8px rgb(48, 48, 48);

}

#home {
    position: absolute;
    width: 15%;
    height: 80px;
    left: 0%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: #0F4880;
    background-color: transparent;
    border: none;

    cursor: pointer; /*added cursor styling to elements that can be clicked*/
}

#home:hover {
    color: #1478cb;
}

#glossary {
    position: absolute;
    width: 15%;
    height: 80px;
    left: 15%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #0F4880;

    cursor: pointer;
}

#glossary:hover {
    color: #1478cb;
}

/*#glossary, #home {
    position: absolute;
    width: 220px;
    height: 29px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}

#glossary {
    left: 20vw;
}*/

#back {
    position: fixed;
    width: 19vw;
    height: 8vh;
    top: 75vh;
    left: 20vw;

    box-sizing: border-box;
    border-radius: 40px;
    visibility: hidden;

    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    color: #0F4880;
}


/*#navBar {
    padding: 0;
    top: 0;
    position: absolute;
    display: inline-block;
}*/

.container {
    display: block;
    position: relative;
    padding-left: 40px;
    padding-top: 15px;
    margin-bottom: 15px;
    border-radius: 40px;
    width: 100%;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: calc(18px + (24 - 18) * ((55vw - 300px) / (1600 - 300)));
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.firstQuestion, .secondQuestion, .thirdQuestion, .fourthQuestion,
.fifthQuestion, .sixthQuestion {
    position: fixed;
    width: 50%;
    transform: translate(50%, 50%);
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: calc(18px + (24 - 18) * ((55vw - 300px) / (1600 - 300)));
    color: white;
    letter-spacing: 1px;
    visibility: visible;
}



.firstQuestion #instruction, .secondQuestion #instruction,
.thirdQuestion #instruction, .fourthQuestion #instruction,
.fifthQuestion #instruction, .sixthQuestion #instruction { /*styles the guided search on every page*/
    font-size: calc(14px + (20 - 14) * ((55vw - 300px) / (1600 - 300)));
    padding-bottom: 7vh;
    text-align: center;
    top: 90vh;
}

.firstQuestion #intro1, .secondQuestion #intro2, .thirdQuestion #intro3,
.fourthQuestion #intro4, .fifthQuestion #intro5, .sixthQuestion #intro6 {
    font-size: calc(20px + (28 - 20) * ((55vw - 300px) / (1600 - 300)));
    text-align: center;
    margin-bottom: 7vh;
}

.firstQuestion .questions, .secondQuestion .questions, .fourthQuestion .questions {
    columns: 2;
}

.thirdQuestion .questions,
.fifthQuestion .questions {
    columns: 3;
    left: 40%;
}

.firstQuestion #instruction {
    margin-top: 35px;
}

.firstQuestion .questions {
    transform: translate(14%, 0);
}

.secondQuestion .questions {
    transform: translate(7%, 0);
}

.thirdQuestion {
    width: 70%;
    transform: translate(20%, 50%);
}

.thirdQuestion .questions {
    transform: translate(5%, 0);
}

.thirdQuestion .container {
    padding-top: 20px;
}

.fourthQuestion .questions{
    transform: translate(15%, 0);
}

.fifthQuestion {
    width: 70%;
    transform: translate(20%, 50%);
}

.fifthQuestion .questions {
    transform: translate(8%, 0);
    height: 100%;
}

.fifthQuestion .container {
    padding-top: 20px;
}

.sixthQuestion {
    width: 90%;
    transform: translate(5%, 50%);
}

.sixthQuestion #instruction {
    width: 50%;
    transform: translate(50%, 0%);

}

.sixthQuestion .questions  {
    columns: 5;
    column-width: 100px;
    transform: translate(5%, 0%);
    width: 100%;
    margin-right: 100px;
}

.sixthQuestion .container {
    padding-top: 20px;
}



/*#intro, #intro2, #intro3, #intro4, #intro5, #intro6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: calc(18px + (24 - 18) * ((55vw - 300px) / (1600 - 300)));
    text-align: center;
    color: white;
    letter-spacing: 1px;
    margin-left: 25vw;
    margin-right: 25vw;
    top: 50%;             /*looks like each intro sets its own top */
/*}*/

/*
#intro3 {
    top: 10vh;
    position: fixed;
}

*#intro {
    top:15vh;
    position: relative;
}

#thirdQuestion .questions {
    position: fixed;
    left: 45vw;
    top: 25vh;
}

#intro2 {
    position: relative;
    top: 10vh;
}

#intro4 {
    position: fixed;
    top: 15vh;
}

#intro5 {
    position: fixed;
    top: 15vh;
}

#fourthQuestion .questions {
    column-count: 2;
    column-width: inherit;
    position: fixed;
    left: 37vw;
    top: 35vh;
}

#secondQuestion .questions {

    column-count: 2;
    column-width: 300px;
    font-family: Roboto;
    font-size: 14px;
    margin-left: 0px;
    margin-top: 90px;
    left: 10vw;
    position: relative;
}

#sixthQuestion .questions {

    column-count: 4;
    column-width: 200px;
    font-family: Roboto;
    font-size: 14px;
    left: 10vw;
    top: 25vh;
    position: fixed;
}

#intro6 {
    position: fixed;
    top: 10vh;
    text-align: center;
    left: 1vw;
    color: white;
    font-family: Roboto;
}

#fifthQuestion .questions {

    column-count: 2;
    column-width: 250px;
    font-family: Roboto;
    font-size: 14px;
    margin-left: 0px;
    top: 30vh;
    left: 25vw;
    position: fixed;
}

/* The container */

.firstQuestion {
    visibility: visible;
    position: fixed;
}
/*
#firstQuestion .questions{
    top: 25vh;
    left: 42vw;
    position: relative;
}*/
.sixthQuestion, .fifthQuestion, .fourthQuestion, .thirdQuestion, .secondQuestion {
    visibility: hidden;
}




/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #0F4880;
    border-radius: 40px;
    border: 1px solid white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#next_question {
    position: fixed;
    /*  width: 19vw;
        left: 41vw;
        right: 41vw; */
    left: 42vw;
    top: 75vh;
    height: 8vh;
    width: 15%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    color: #0F4880;
}

#submitSearch {
    position: fixed;
    width: 19vw;
    height: 8vh;
    left: 55vw;
    top: 75vh;

    box-sizing: border-box;
    border-radius: 40px;
    visibility: hidden;

    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    color: #0F4880;
}

/*
#navBar {
    background: #0000000f;
    height: 44px;
    width: 100%;
    top: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
}

#home {
    position: fixed;
    top: 10px;
    left: 10px;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border: none;
}

#glossary {
    position: fixed;
    top: 10px;
    left: 120px;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border: none;
}

#logo {
    left: 900px;
    position: absolute;
    top: 3.5px;
    font-size: 20px;
    color: white;
    font-family: Roboto;
    text-align: center;
}

body
{
    padding: 50px;
}
*/
.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}


.blue
{
    background-color: #f6f8f9;
    border-bottom: 5px solid #e7eaec;
}

button:focus {outline:0;}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}




