body {
    background: #0F4880;
}

#home {
    position: absolute;
    width: 15%;
    height: 80px;
    left: 0%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: #0F4880;
    background-color: transparent;
    border: none;

    cursor: pointer; /*added cursor styling to elements that can be clicked*/
}

#home:hover {
    color: #1478cb;
}

#glossary {
    position: absolute;
    width: 15%;
    height: 80px;
    left: 15%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #0F4880;

    cursor: pointer;
}

#glossary:hover {
    color: #1478cb;
}

#back {
    position: fixed;
    width: 19vw;
    height: 8vh;
    top: 64vh;
    left: 20vw;

    box-sizing: border-box;
    border-radius: 40px;


    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    color: #0F4880;
}


#glossary:hover {
    color: #1478cb;
}

.navBar {
    background: #ffffff;
    opacity: 70%;
    height: 80px;
    width: 100%;
    margin: 0;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0;
    box-shadow: 0px 3px 8px rgb(48, 48, 48);
}

#searchIntroduction {
    position: absolute;
    top: 8vh;
}

#introHeader {
    font-family: Roboto;
    font-weight: bolder;
    font-size: calc(20px + (30 - 20) * ((55vw - 300px) / (1600 - 300)));
    color: white;
    letter-spacing: 2px;
    width: 60%;
    transform: translate(33%, 50%);
    text-align: center;
}

#paragraph1, #paragraph2 {
    font-size: calc(16px + (26 - 16) * ((55vw - 300px) / (1600 - 300)));
    letter-spacing: 1px;
}

#goBack {
    position: relative;
    left: 30vw;
    top: 25vh;
    height: 8vh;
    width: 15%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 15px;
    font-weight: bold;
    color: #0F4880;
}

#startSearch {
    position: relative;
    left: 40vw;
    top: 25vh;
    height: 8vh;
    width: 15%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 15px;
    font-weight: bold;
    color: #0F4880;
}


/*
#navBar {
    background: #0000000f;
    height: 44px;
    width: 100%;
    top: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
}

#home {
    position: fixed;
    top: 10px;
    left: 10px;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border: none;
}

#glossary {
    position: fixed;
    top: 10px;
    left: 120px;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border: none;
}

#logo {
    left: 900px;
    position: absolute;
    top: 3.5px;
    font-size: 20px;
    color: white;
    font-family: Roboto;
    text-align: center;
}

body
{
    padding: 50px;
}
*/
.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}


.blue
{
    background-color: #f6f8f9;
    border-bottom: 5px solid #e7eaec;
}

button:focus {outline:0;}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}