#search {
    position: absolute;
    width: 55%;
    height: 8%;
    left: 50%;
    top: 40vh;
    transform: translate(-50%, -2%);
    box-sizing: border-box;
    border-radius: 40px;
    font-size: 1.5vw;
    padding-left: 15px;
    border: 4px solid #0F4880;
}

search.placholder {
    padding: 8px;
}

#submitSearch {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 80%;

    top: 40vh;
    background: #0F4880;
    border: 4px solid #0F4880;
    box-sizing: border-box;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    color: white;
}


#submitSearch:hover {


    background: #1478cb;
    border: 4px solid #1478cb;
    box-sizing: border-box;
    border-radius: 40px;
    color: white;
}

#guidedSearch {
    position: absolute;
    width: 15%;
    height: 8%;
    left: 50%;
    top: 60vh;
    transform: translate(-50%, 80%);
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: calc(0.3rem + 1vw);
    text-align: center;
    color: white;
}

#guidedSearch:hover {
    background: #1478cb;
    border: 4px solid #1478cb;
    box-sizing: border-box;
    border-radius: 40px;
    color: white;
}

#update {
    position: absolute;
    width: 15%;
    height: 60px;
    left: 20%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

#products {
    position: absolute;
    width: 15%;
    height: 60px;
    left: 5%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}

#glossary {
    position: absolute;
    width: 15%;
    height: 60px;
    left: 35%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}

#keys {
    position: absolute;
    width: 15%;
    height: 60px;
    left: 50%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;

}

#glossary:hover {
    color: #38c7f5;
}

#update:hover {
    color: #38c7f5;
}

#products:hover {
    color: #38c7f5;
}

#keys:hover {
    color: #38c7f5;
}
/*
.eqi-container {
    display: flex;
    justify-content: space-between;
    border: 10px solid black;
}

.eqi-container div {
    width: 100px;
    height: 50px;
    left: 10%;
    background: blue;
}
*/
#navBar {
    background: #0F4880;;
    height: 60px;
    width: 100%;
    top: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
}
/*
.eqi-container div products {
    position: absolute;
    width: 50px;
    height: 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}
*/
/*
#eye_gaze {

    position: absolute;
    width: 220px;
    height: 29px;
    left: 570px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

#voice {

    position: absolute;
    width: 18%;
    height: 60px;
    left: 51%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

#touch {

    position: absolute;
    width: 15%;
    height: 60px;
    left: 70%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}
*/
#logo {
    position: absolute;
    width: 20%;
    height: 60px;
    left: 75%;
    top: 30%;
    font-size: 20px;
    font-weight: 900;
    color: white;
    font-family: Roboto;
    text-align: center;
}



#welcome {
    color: black;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-family: Roboto;
    font-size: calc(20px + (23 - 20) * ((50vw - 300px) / (1600 - 300)));
    text-align: center;
}

#start {
    color: black;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-family: Roboto;
    font-size: calc(18px + (20 - 18) * ((50vw - 300px) / (1600 - 300)));
}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}


.blue
{
    background-color: #0f487f;
    border-bottom: 5px solid #082846;
}

button:focus {outline:0;}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
