#search {
    position: absolute;
    width: 63vw;
    height: 8vh;
    left: 20vw;
    top: 41vh;

    border: 4px solid #0F4880;
    box-sizing: border-box;
    border-radius: 40px;
    font-size: 3vh;
}

#submitSearch {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 85vw;
    top: 40%;

    background: #0F4880;
    border: 4px solid #0F4880;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: white;
}


#submitSearch:hover {


    background: #1478cb;
    border: 4px solid #1478cb;
    box-sizing: border-box;
    border-radius: 40px;
    color: white;
}

#guidedSearch {
    position: absolute;
    width: 24vw;
    height: 7vh;
    left: 40vw;
    top: 65vh;

    background: #0F4880;
    border: 4px solid #0F4880;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: white;
}

#guidedSearch:hover {



    background: #1478cb;
    border: 4px solid #1478cb;
    box-sizing: border-box;
    border-radius: 40px;
    color: white;
}

#update {

    position: absolute;
    width: 220px;
    height: 29px;
    left: 95px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

#glossary:hover {
    color: #38c7f5;
}

#update:hover {
    color: #38c7f5;
}

#products:hover {
    color: #38c7f5;
}

#glossary {
    position: absolute;
    width: 220px;
    height: 29px;
    left: -25px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}

#navBar {
    background: #0F4880;;
    height: 44px;
    width: 100%;
    top: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
}

#products {
    position: absolute;
    width: 220px;
    height: 29px;
    left: 210px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}

#eye_gaze {

    position: absolute;
    width: 220px;
    height: 29px;
    left: 570px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

#voice {

    position: absolute;
    width: 220px;
    height: 29px;
    left: 450px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

#touch {

    position: absolute;
    width: 220px;
    height: 29px;
    left: 330px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

#keys {

    position: absolute;
    width: 220px;
    height: 29px;
    left: 690px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

#logo {
    left: 900px;
    position: absolute;
    top: 3.5px;
    font-size: 15px;
    color: white;
    font-family: Roboto;
    text-align: center;
}

#welcome {
    color: black;
    position: fixed;
    top: 190px;
    left: 310px;
    font-family: Roboto;
}

#start {
    color: black;
    position: fixed;
    top: 340px;
    left: 495px;
    font-family: Roboto;
}
