#filterList {

    -moz-column-count: 2;
    -moz-column-gap: 1px;
    -webkit-column-count: 2;
    -webkit-column-gap: 1px;
    column-count: 2;
    column-gap: 10px;
    position: fixed;
    height: 90vh;
    column-width: 10vw;
    left: -30px;
    font-family: Roboto;
    font-size: 18px;
    margin-left: 27px;
}

/*#home {
    position: absolute;
    width: 15%;
    height: 60px;
    left: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}*/

#home {
    position: absolute;
    width: 15%;
    height: 80px;
    left: 0%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;
    background-color: transparent;
    border: none;
}
#home:hover {
    color: #38c7f5;
}

/*#glossary{
    position: absolute;
    width: 18%;
    height: 60px;
    left: 20%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}*/

#glossary {
    position: absolute;
    width: 15%;
    height: 80px;
    left: 15%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}
#glossary:hover {
    color: #38c7f5;
}

/*#navBar #compare_all_your_items {
    position: relative;
    left: 70vw;

    background: #FFFFFF;
    border: 4px solid #0F4880;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    font-size: 20px;
    text-align: center;
}

#navBar #compare_all_your_items:hover {
    background: #1478cb;
    border: 4px solid #1478cb;
    box-sizing: border-box;
    border-radius: 40px;
    color: white;
}*/

#navBar #compare_all_your_items {
    position: absolute;
    left: 82.5%;
    margin-top: 20px;
    width: 120px;

    color: #0F4880;
    background: #FFFFFF;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;
}

#navBar #compare_all_your_items:hover {
    /*background: #1478cb;
    border: 4px solid #1478cb;*/
    box-sizing: border-box;
    border-radius: 40px;
    color: #1478cb;
}


input[type="checkBox"] {
    margin: 10px;

}

#resultList {
    overflow: hidden;
    overflow-y: scroll;
    height: 75%;
    float: right;
    position: fixed;
    margin-left: 405px;
}

#resultPanel {
    float: right;
    font-size: calc(13px + (18 - 10) * ((55vw - 300px) / (1600 - 300)))
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0F4880;
    border-radius: 40px;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-track {
    background: rgba(15, 72, 128, 0.3);
    border-radius: 40px;
}

::-webkit-scrollbar-corner {
    background-color: black;
}





#content {
    margin-top: 80px;
}

#resultList li {
    border-left-color: #0F4880;
    border-left-style: solid;
    border-left-width: 3px;
    height: 160px;
    margin-bottom: 45px;
}

#resultList li:hover {
    border-left-color: #1478cb;
}

#resultList li img{
    height: 150px;
    width: 150px;
    padding-left: 10px;
    position: relative;
    top: -65px;
}

#resultList li #info #name {
    margin-left: 190px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: calc(14px + (24 - 12) * ((55vw - 300px) / (1600 - 300)));
    display: inline-block;
}

#resultList li #info #price {
    right: -450px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: calc(14px + (24 - 12) * ((55vw - 300px) / (1600 - 300)));;
    position: relative;
}

#resultList li #info #brand {
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
    font-size: calc(12px + (24 - 12) * ((52vw - 300px) / (1600 - 300)));;
    margin-left: 190px;
}


#resultList li #btns #compare{
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    color: white;
    border-radius: 40px;
    right: -575px;
    padding: 10px;

    display:-webkit-inline-box;
    background: #0F4880;
    border: 4px solid #0F4880;
    box-sizing: border-box;
}

#resultList li #btns #view:hover {
    background: #1478cb;
    border: 4px solid #1478cb;
    box-sizing: border-box;
    border-radius: 40px;
    color: white;
}

#resultList li #btns #compare:hover {
    background: #1478cb;
    border: 4px solid #1478cb;
    box-sizing: border-box;
    border-radius: 40px;
    color: white;
}

#resultList li #btns #view{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    color: white;
    border-radius: 40px;
    right: -550px;
    padding: 10px;
    position: relative;


    background: #0F4880;
    border: 4px solid #0F4880;
    box-sizing: border-box;
}

#resultList li #btns {
    margin-top: 10px;
    position: relative;
    right: 2%;
    bottom: 170px;
}

#resultList li #description {
    position: relative;
    left: 190px;
    width: 20vw;
    bottom: 130px;
    font-family: Roboto;
    font-size: calc(12px + (18 - 12) * ((55vw - 300px) / (1600 - 300)));
}

#resultList {
    left: -45px;
    width: 65%;
    position: fixed;
}

#filter {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: calc(16px + (24 - 16) * ((55vw - 300px) / (1600 - 300)));
    padding-left: 27px;
    padding-bottom: 1.5vw;
    position: fixed;
}

button {
    padding: 5px;
}

.container {
    display: block;
    position: relative;
    padding-left: 36px;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
    border-radius: 40px;
    /*height: 16px;*/
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: calc(12px + (16 - 12) * ((55vw - 300px) / (1600 - 300)));
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.9vw;
    width: 0.9vw;
    background-color: white;
    border-radius: 40px;
    border: 1px solid #0F4880;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color:#0F4880;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*#navBar {
    background: #0F4880;;
    height: 44px;
    width: 100%;
    top: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
}*/

#navBar {
    background: #0F4880;
    opacity: 70%;
    height: 80px;
    width: 100%;
    margin: 0;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0;
    z-index: 1;
    box-shadow: 0px 3px 8px #999999;
}

/*#logo {
    color: white;
    left: 85vw;
    position: absolute;
    z-index: 1;
    top: 0px;
    font-family: Roboto;
}*/

#name {
    font-family: Roboto;
}

b {
    margin-bottom: 10px;
    font-size: calc(12px + (24 - 12) * ((55vw - 300px) / (1600 - 300)));
}

.filterSections {
    padding-left: 20px;
}

#professional {
    /*position: relative;*/
    left: 500px;
    top: -17px;
    color: #4CAF50;
    visibility: hidden;
}