#product_box {
    left: 170px;
    top: 10px;
    width: 1100px;
    height: 554px;
}

img {
    height: 250px;
    width: 250px;

    position: absolute;
}

#name {
    font-family:  'Roboto', sans-serif;
    font-weight: Bold;
    font-size: 25px;
    left: 290px;
    width: 400px;
    position: relative;
}

#price, #brand {
    font-family:  'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    left: 290px;
    position: relative;
}

#price {
    top: -27px;
    left: 52vw;
}

#info {
    position: relative;
    left: 290px;
    top: 30px;
    width: 30vw;
    font-family: Roboto;
    font-size: 16px;
}

#reviews {
    width: 68%;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

#rev {
    font-family:  'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 24px;
}


li {
    border-bottom: solid 2px #0F4880;
    margin-bottom: 10px;
}

#resultList {
    top: 60px;
    position: absolute;
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 0px;
}

#moreHeader {
    font-weight: 900;
    position: relative;
    text-align: center;
    font-size: 20px;
}

#toAdd {
    position: absolute;
    margin-left: 16%;
    margin-right: 16%;
    font-family: Roboto;
}

#title, #author, .ctx{
    border-color: #0F4880;
    border-radius: 20px;
    width: 40vw;
    height: 25px;
}

#body {
    border-color: #0F4880;
    border-radius: 20px;
    width: 68vw;
    height: 100px;
}

#submitReview {
    background-color: #0F4880;
    color: white;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 20px;
    position: absolute;
}

/*#glossary, #home, #update{
    position: absolute;
    width: 220px;
    height: 29px;

    font-family:  'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}

#home:hover {
    color: #1478cb;
}

#update:hover {
    color: #1478cb;
}

#glossary {
    left: 20vw;
    color: white;
    font-size: 20px;
}

#update {
    left: 40vw;
    font-size: 20px;
    color: white;
}*/

#home {
    position: absolute;
    width: 15%;
    height: 80px;
    left: 0%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;
    background-color: transparent;
    border: none;
}
#home:hover {
    color: #38c7f5;
}

#glossary {
    position: absolute;
    width: 15%;
    height: 80px;
    left: 15%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}
#glossary:hover {
    color: #38c7f5;
}

#update {
    position: absolute;
    width: 15%;
    height: 80px;
    left: 30%;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}
#update:hover {
    color: #38c7f5;
}

#back {
    position: fixed;
    width: 24vw;
    height: 7vh;
    top: 64vh;
    left: 20vw;

    background: #FFFFFF;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    visibility: hidden;
}


#glossary:hover {
    color: #1478cb;
}

/*#navBar {
    padding: 0;
    position: absolute;
    display: inline-block;
    margin-bottom: 60px;
}


#navBar {
    background: #0F4880;;
    height: 44px;
    width: 100%;
    top: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1;
}*/

#navBar {
    background: #0F4880;
    opacity: 70%;
    height: 80px;
    width: 100%;
    margin: 0;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0;
    z-index: 1;
    box-shadow: 0px 3px 8px #999999;
}

#information {
    margin-left: 16%;
    margin-right: 16%;
}

#features {
    -webkit-column-count: 4;
    -moz-column-count: 3;
    column-count: 4;
    margin-right: 40px;
    column-gap: 100px;
    margin-bottom: 100px;
    text-align: center;
    left: 10vw;
    margin-top: 530px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#features li {
    border-bottom: white;
    list-style: none;
    margin-bottom: 40px;
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#features li div {
    margin-bottom: 10px;
}

#info li {
    border-bottom: white;
    font-family: Roboto;
    font-size: 14px;
    margin-bottom: 3px;
}

#feats {
    position: relative;
    top: 490px;
    font-family:  'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 20px;
}

#badges {
    margin-bottom: 500px;
}

#badges {
    margin-bottom:auto;
}

#icon1 {
    color: #738ffc;
}

#icon7 {
    color: #a9e34b;
}

#icon18 {
    color: #e7497f;
}

#icon2 {
    color: #f1bf77;
}

#icon8 {
    color: #fcc2d7;
}

#icon4 {
    color: #3bc9dc;
}

#icon5 {
    color: #3959de;
}

#icon13 {
    color: #f9045d;
}

#icon15 {
    color: #d9efb5;
}

#icon20 {
    color:  #bf4adb;
}

#icon23 {
    color: #95dde6;
}

#icon22 {
    color: #f10471;
}

#icon0 {
    color:  #bf4adb;
}

#icon3 {
    color: #009688;
}

#icon6 {
    color: #f7659a;
}

#icon9 {
    color: #7b2190;;
}

#icon10 {
    color: #4CAF50;
}

#icon11 {
    color: #363679;
}

#icon12 {
    color: #FF5722;
}

#icon14 {
    color: #00BCD4;
}

#icon16 {
    color: #e6bfec;
}

#access li {
    border: white;
}


#more {
    font-family: Roboto;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

#icon17 {
    color: #FF9800;
}

#icon21 {
    color: #f39476;
}

#icon19 {
    color: #d8f7fb;
}

#specs {
    position: absolute;
    top: 200px;
    left: 40vw;
}

#professional {
    position: absolute;
    left: 260px;
    top: -5px;
    color: #4CAF50;
}

#otherFeatures li {
    border-color: white;
}

#resources {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

table {
    font-family: Roboto;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

table li {
    border: white;
}

td, th {
    border-left: black 1px solid;
    text-align: left;
    padding: 8px;
    width: 50px;
}

td:nth-child(1) {
    border-left: white;
}

tr:nth-child(even) {
    background-color: lightblue;
}


#resc {
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
}

#setUp #circle1{
    height: 20px;
    width: 20px;
    border: 1px black solid;
    border-radius: 100px;
}

#circle1 {
    left: 90px;

}

#circle2 {
    left: 30px;
    height: 20px;
    width: 20px;
    border: 1px black solid;
    border-radius: 100px;
    position: relative;
    top: -22.5px;
}

#circle3 {
    left: 60px;
    height: 20px;
    width: 20px;
    border: 1px black solid;
    border-radius: 100px;
    position: relative;
    top: -44.5px;
}

#circle4 {
    left: 90px;
    height: 20px;
    width: 20px;
    border: 1px black solid;
    border-radius: 100px;
    position: relative;
    top: -66.5px;
}

#circle5 {
    left: 120px;
    height: 20px;
    width: 20px;
    border: 1px black solid;
    border-radius: 100px;
    position: relative;
    top: -88.5px;
}

#use #use_circle1{
    height: 20px;
    width: 20px;
    border: 1px black solid;
    border-radius: 100px;
}

#use_circle1 {
    left: 90px;

}

#use_circle2 {
    left: 30px;
    height: 20px;
    width: 20px;
    border: 1px black solid;
    border-radius: 100px;
    position: relative;
    top: -22.5px;
}

#use_circle3 {
    left: 60px;
    height: 20px;
    width: 20px;
    border: 1px black solid;
    border-radius: 100px;
    position: relative;
    top: -44.5px;
}

#use_circle4 {
    left: 90px;
    height: 20px;
    width: 20px;
    border: 1px black solid;
    border-radius: 100px;
    position: relative;
    top: -66.5px;
}

#use_circle5 {
    left: 120px;
    height: 20px;
    width: 20px;
    border: 1px black solid;
    border-radius: 100px;
    position: relative;
    top: -88.5px;
}


#submitTitle {
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 100px;
}

/*Added from here*/
label[for=title], label[for=author], label[for=context], label[for=body] {
    font-family: Roboto;
    font-weight: 600;
    font-size: 14pt;
    margin-bottom: 10px;
}

button[id=submitReview] {
    background-color: #0f4880;
    color: white;
    border-radius: 40px;
    font-size: calc(14px + (18 - 14) * ((50vw - 300px) / (1600 - 300)));;
    font-weight: bold;
    height: 8vh;
    min-height: 6vh;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    position: absolute;
    margin-top: 15px;
    margin-bottom: 100px;
}

button[id=submitReview]:hover {
    background-color: #1478cb;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#glossaryModal {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}