body {
    font-family: Roboto;
}


.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 40px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 40px;
    border: 1px solid #0F4880;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color:#0F4880;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container [for=professionalTrue] {
    padding-left: 200px;

}
#header {
    font-family: Roboto;
    font-size: 2vw;
    font-weight: 800;
    width: 100%;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 1.5vh;
}

#navBar {
    background: #0F4880;
    height: 60px;
    width: 100%;
    top: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1;
}

#glossary{
    position: absolute;
    width: 18%;
    height: 60px;
    left: 20%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}

#home {
    position: absolute;
    width: 15%;
    height: 60px;
    left: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}
#home:hover {
    color: #38c7f5;
}

#glossary:hover {
    color: #38c7f5;
}

#logo {
    position: absolute;
    width: 20%;
    height: 60px;
    color: white;
    left: 75%;
    top: 30%;
    z-index: 1;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

/*styling for "?" button*/
input[type=button] {
    margin-left: 15px;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 1px solid grey;
    font-family: Roboto;
    font-size: 14px;
}

input[type=button]:hover{
    background-color: lightskyblue;
}

label {
    font-family: Roboto;
    font-weight: 800;
    font-size: 1em;
    margin-left: 50px;
}

label[for=name] {
    margin-left: 50px;
    padding-top: 0%;
}

label[for=professionalTrue], [for=professionalFalse], [for=hardware], [for=software] {
    margin-left: 90px;
}

#name, #id, #brand, #price, #description, #point1, #info1, .ctx {
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    padding-left: 8px;

    border-color: #0F4880;
    border-radius: 10px;
    border: 2px solid #0066b9;
    width: 40%;
    height: 3vh;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#description {
    height: 10vh;
}

#info1, #point1 {
    height: 5vh;
}

#info1, #point1 {
    margin-bottom: 10px;
}

input[for=id]{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#content {
    margin-top: 60px;
    z-index: -1;
}

ul {
    margin-bottom: 0em;
    margin-top: 0em;
}
input[type=file] {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 40px;
}
#surveyquestion {
    font-family: Roboto;
    font-weight: 800;
    font-size: 1em;
    margin-left: 50px;
}

#addBullet, #removeBullet, #addInfo, #removeInfo, #addProduct {
    font-family: Roboto;
    font-size: calc(12px + (13 - 12) * ((50vw - 300px) / (1600 - 300)));
    color: white;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 25px;
    background-color: #0F4880;
    border: 1px solid #0F4880;
    border-radius: 60px;
    width: 150px;
    height: 5vh;
}

#addProduct {
    font-size: calc(14px + (18 - 14) * ((50vw - 300px) / (1600 - 300)));;
    font-weight: bold;
    height: 8vh;
    margin-top: 15px;
}

#addBullet:hover {
    background-color: #1478cb;
}

#removeBullet:hover {
    background-color: #1478cb;
}

#addInfo:hover {
    background-color: #1478cb;
}

#removeInfo:hover {
    background-color: #1478cb;
}

#addProduct:hover {
    background-color: #1478cb;
}

#image_select li:hover{
    opacity: 0.5;
}


#image_select li:focus{
    opacity: 0.25;
}


#images {
    width: 450px;
    height: 150px;
    border: #0f487f 3px solid;
    border-radius: 10px;
    overflow-y: scroll;
}

#image_select {
    position: relative;
    height: 220px;
    top: 55px;
}


#displayImg {
    position: relative;
    left: 500px;
    bottom: 35px;
}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}


.blue
{
    background-color: #0f487f;
    border-bottom: 5px solid #082846;
}

button:focus {outline:0;}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}


#title, #longTitle {
    visibility: hidden;
}
