.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 40px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 40px;
    border: 1px solid #0F4880;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color:#0F4880;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#navBar {
    background: #0F4880;;
    height: 44px;
    width: 100%;
    top: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1;
}

#logo {
    color: white;
    left: 85vw;
    position: absolute;
    z-index: 1;
    top: 0px;
    font-family: Roboto;
}

#name {
    font-family: Roboto;
}


#content {
    margin-top: 60px;
    z-index: -1;
}



#name, #id, #brand, #price, #description, .ctx{
    border-color: #0F4880;
    border-radius: 20px;
    width: 40vw;
    margin: 10px;
}

#glossary, #home{
    position: absolute;
    width: 220px;
    height: 29px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    text-align: center;

    color: white;
    background-color: transparent;
    border: none;
}

#home:hover {
    color: #1478cb;
}

#header #line {
    width: 100vw;
    background: linear-gradient(#e66465, #9198e5);
    position: absolute;
    height: 2px;
    top: 30px;
    left: -45vw;
}


#header {
    color: #0f487f;
    font-size: 25px;
    font-family: Roboto;
    left: 45vw;
    position: relative;
    top: 50px;
}

#myFile {
    margin-top: 60px;
}

#glossary {
    left: 20vw;
    color: white;
    font-size: 20px;
}

#image_select li:hover{
    opacity: 0.5;
}


#image_select li:focus{
    opacity: 0.25;
}

#images {
    width: 75%;
    height: 150px;
    border: #0f487f 3px solid;
    overflow-y: scroll;
}

#image_select {
    position: relative;
    top: 50px;
}